<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <!-- 修改默认路由 -->
        <route id="swagger" frontName="swagger2">
            <module name="Magento_Swagger" />
        </route>
    </router>
</config>